/*  Origin - Colored Post Header for Prosilver */

p.author {display: none;}

.postheader {
    height: 22px;
    border-radius: 5px 5px 0 0;        
}

.post {
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px; 
}

.postheader-info {
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    padding: 3px;
}    
