	<div class="postheader" style="background-color:{{ postrow.POST_AUTHOR_COLOUR }}">
		<div class="postheader-info">	
					<div class="author">
				<!-- IF S_IS_BOT -->
					<span><i class="icon fa-file fa-fw <!-- IF postrow.S_UNREAD_POST -->icon-red<!-- ELSE -->icon-white<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{postrow.MINI_POST}</span></span>
				<!-- ELSE -->
					<a class="unread" href="{postrow.U_MINI_POST}" title="{postrow.MINI_POST}">
						<i class="icon fa-file fa-fw <!-- IF postrow.S_UNREAD_POST -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{postrow.MINI_POST}</span>
					</a>
				<!-- ENDIF -->	
		<span class="responsive-hide" style="color:white">{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR}</strong> &raquo; 
		</span><time datetime="{postrow.POST_DATE_RFC3339}" style="color:white">{postrow.POST_DATE}</time>
		</div></div>
	</div>
